---
export interface Props {
  id: string;
  title: string;
  sectionType?: string;
  style?: string;
}

const { title, id, sectionType, style } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-32 flex-col items-center"
  style={style}
>
  <div class="flex flex-col items-center gap-8 mb-6">
    <slot name="eyebrow" />
    <div class="relative" style="isolation: isolate;">
      <h2
        class="section-title text-center"
        style="position: relative; z-index: 2;"
      >
        {title}
      </h2>
      {sectionType && (
        <div class={`title-rectangle ${sectionType}`} style="z-index: 1;"></div>
      )}
    </div>
  </div>
  <p class="w-full text-center font-normal text-2xl mb-10">
    <slot name="lead" />
  </p>
  <slot />
</section>
